
.btn-contact{
    position: absolute;
    top: 340%;
    right: 44%;
  }

  .btn-about{
    position: absolute;
    top: 285%;
    right: 44%;
  }

  .btn-women{
    position: absolute;
    top: 243%;
    right: 25%;
  }

  .btn-men{
    position: absolute;
    top: 243%;
    left: 25%;
  }

   /* ---------- MEDIA QUERIES -------------*/
/* mobile to small tablet */
@media screen and (min-width: 300px) and (max-width: 600px) {

/*---bulk-section---*/
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px 25px;
  
}

.bulk {
  margin: 10px 0;
  align-items: center;
  text-align: center;
}

.bulk-big-text {
  font-size: 0.8rem;
}

.bulk-small-text {
  font-size: 0.6rem;
}

.icon {
  width: 30px;
  height: auto;
}

}

 
/* tablet and small laptops */
@media screen and (min-width: 601px) and (max-width: 900px) {
  /*---bulk-section---*/
 .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px 25px;
  
}

.bulk {
  margin: 10px 0;
  align-items: center;
  text-align: center;
}

.bulk-big-text {
  font-size: 0.9rem;
}

.bulk-small-text {
  font-size: 0.7rem;
}

.icon {
  width: 40px;
  height: auto;
}

}
 
/* laptop to larger desktops */
@media screen and (min-width: 901px) and (max-width: 1300px) {
  /*---bulk-section---*/
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 25px;
  }

    .bulk {
      margin: 10px 0;
      align-items: center;
      text-align: center;
    }
    
}
 
/* larger monitors */
@media screen and (min-width: 1301px) {
    /*---bulk-section---*/
 .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px 25px;
 }
  
  .bulk {
    margin: 10px 0;
    align-items: center;
    text-align: center;
  }
}
