

.container-product {
    display: flex;
     gap: 30px;
}

.product-img {
    display: flex;
    flex-direction: column;
    width: 548px;
    gap: 30px;
    margin-top: 91px;
    margin-left: 100px;
}

.content-product {
    display: flex;
    flex-direction: column;
    
}


.headline-product{
    display: flex;
    flex-direction: row;
    gap: 240px 
}


.headline-h1 {
   font-family: "martel sans", sans-serif;
   font-weight: 800;
   font-size: 1.75rem;
   color: white;
   margin-top: 80px;
   padding: 0 15px;
   margin-bottom: 0;
}

.headline-p {
    font-family: "martel sans", sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    color: black;
    padding: 0px 15px;
    margin-top: 0;
    margin-bottom: 15px;
}

.list-contact ul li{
    list-style-position: inside;
    display: list-item;
}

.list-product {
    display: flex;
    flex-direction: column;
}

.p-contact-li{
    font-family: "martel sans", sans-serif;
    font-weight: 500;
    max-width: 560px;
    width: 560px;
    font-size: 1.02rem;
    margin: 0 15px;
}

.size-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0px 15px;
}

#sizes {
    width: 200px;
    text-align: center;
    color: white;
    background-color: #51584A;
    font-family: "martel sans", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    border: 2px solid white;
}


.btn-product{
    background-color: #FCE25A;
    font-family: "martel sans", sans-serif;
    font-weight: 800;
    font-size: 1.475rem;
    color: black;
    border: 1px solid white;
    border-radius: 36px;
    cursor: pointer;
    width: 300px;
}


    /* mobile to small tablet */
    @media screen and (min-width: 300px) and (max-width: 600px) {
        .header-img-wrapper,
        .header-img {
         height: 20vh; 
        }
    }
     
    
    
    /* tablet and small laptops */
    @media screen and (min-width: 601px) and (max-width: 900px) {
        .header-img-wrapper,
        .header-img {
         height: 20vh; 
        }
    }
     
    /* laptop to larger desktops */
    @media screen and (min-width: 901px) and (max-width: 1300px) {
        .header-img-wrapper,
        .header-img {
         height: 20vh; 
        }
    }
     
    /* larger monitors */
    @media screen and (min-width: 1301px) {}